<footer id="footer">

	<div class="inner">

		<ul class="icons">

			{% if site.facebook_username %}
			<li><a href="https://facebook.com/{{ site.facebook_username }}" class="icon fa-facebook">
				<span class="label">Facebook</span>
			</a></li>
			{% endif %}

			{% if site.twitter_username %}
			<li><a href="https://twitter.com/{{ site.twitter_username }}" class="icon fa-twitter">
				<span class="label">Twitter</span>
			</a></li>
			{% endif %}

			{% if site.instagram_username %}
			<li><a href="https://instagram.com/{{ site.instagram_username }}" class="icon fa-instagram">
				<span class="label">Instagram</span>
			</a></li>
			{% endif %}

		</ul>

		<ul class="copyright">
			<li>&copy; {{ site.time | date: '%Y' }} {{ site.title }}.</li>
			<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
			<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
		</ul>
	</div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
